@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

:root {
  /* COLOR */
  --primary-color: #783efd;
  --secondary-color: #ffcc40;
  --title-color: #0d1118;
  --description-color: #8a8b9f;
  --white-color: #ffffff;
  --border-color: #e4e5e7;
  --body-color: #f3f5fa;
  /* TYPOGRAPHY */
  --body-font: "Open Sans", sans-serif;
  /* Font Size */
  --h1-font-size: 26px;
  --h2-font-size: 24px;
  --h2-font-size: 20px;
  --normal-font-size: 15px;
  --small-font-size: 12px;
  /* Font Weight */
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
}

/*========== BASE ==========*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hide default scrollbar */
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
  padding: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--primary-color);
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--title-color);
  background: var(--body-color);
}

h1,
h2,
h3,
ul {
  margin: 0;
}

h1 {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  font-weight: 600;
}

h2 {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  font-weight: 600;
}

p {
  font-size: var(--normal-font-size);
  color: var(--description-color);
  margin: 0;
  line-height: 1.6;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none !important;
  color: var(--title-color);
}

img {
  max-width: 100%;
  height: auto;
}

.icons {
  font-size: 18px;
  color: var(--description-color);
}

/*===================== 
Common CSS
=====================*/

.button {
  border: none !important;
}

textarea,
input {
  padding: 8px 16px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  width: 100%;
}

input[type="checkbox"] {
  width: 16px;
}

label {
  font-size: 14px;
  font-weight: var(--font-medium);
}

.input_star {
  color: red;
  font-size: 16px;
}

.check_box {
  display: flex;
  align-items: center;
}

.check_box input {
  width: 16px;
  margin-right: 8px;
}

.btn {
  padding: 10px 25px;
  background: var(--primary-color);
  color: var(--white-color);
  transition: all 0.3s ease-in-out;
  width: fit-content;
  border-radius: 8px;
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  cursor: pointer;
}

.btn_s {
  padding: 10px 25px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color) !important;
  transition: all 0.3s ease-in-out;
  width: fit-content;
  border-radius: 8px;
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btn_s .icons {
  color: var(--primary-color);
}

.btn_s:hover,
.btn:hover {
  background: var(--secondary-color);
  color: var(--white-color);
  border: 1px solid transparent !important;
}


.btn_group {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.btn_area {
  display: flex;
  align-items: center;
  gap: 20px;
}

.modal-footer .btn_area {
  width: 100%;
}

.modal-footer .btn_area .btn,
.modal-footer .btn_area .btn_s {
  width: 100%;
}


.section_title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 20px;
}

.section_title p {
  margin-top: 5px;
}

.search_bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 400px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
}

.custom-input:focus {
  border-color: blue !important;
  outline: none !important;
}

.search_bar input {
  width: 100%;
  padding: 10px 20px;
  border: none transparent;
  border-radius: 8px 0 0 8px;
}

.search_bar .submit {
  background: var(--primary-color);
  padding: 9px 20px;
  border-radius: 0 8px 8px 0;
  color: var(--white-color);
  font-size: 18px;
}

.input_group {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.input_group .item input {
  width: 100%;
}

/* =========================================== */
/* =========================================== */

/*=====================
Dashboard
 ===================== */

.Ds_card .card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 15px 20px;
}

.Ds_card .card .Ds_icon {
  width: 35px;
  height: 35px;
  background: var(--primary-color);
  color: var(--white-color);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Ds_card .card .Ds_icon .icons {
  color: var(--white-color);
}

.Ds_row_card .card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  gap: 20px;
  flex-wrap: wrap;
}

.Ds_row_card .card .cover_img {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  margin-right: 20px;
}

.draft_list {
  border-radius: 8px;
  padding-bottom: 20px;
  background: var(--white-color);
}

.draft_list .draft_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 20px;
  background: var(--white-color);
  border-radius: 8px;
  border-bottom: 1px solid var(--border-color);
}

.draft_list .card {
  margin-top: 20px;
}

.Ds_row_card .card p {
  color: var(--title-color);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.Ds_row_card .card span {
  color: var(--description-color);
}

.draft_header a {
  color: var(--primary-color);
  font-weight: var(--font-medium);
}


/*=====================
Analytics Page
 ===================== */

.analytics_area {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  align-items: center;
}

.analytics_area .btn {
  padding: 7px 30px
}

.analytics_page .table_content {
  padding: 30px;
  background: var(--white-color);
  border-radius: 8px;
  box-shadow: 12px 12px 36px rgba(0, 0, 0, 0.08);

}

/*=====================
 Primary Artist Manage
 ===================== */
.nav-pills .nav-link {
  padding: 0;
}

.nav-pills .nav-link.active {
  padding: 0;
  background: none;
}

.nav-pills .nav-link.active .card {
  background: var(--primary-color);
  color: var(--white-color);
}

.nav-pills .nav-link.active .card .Ds_icon {
  background: #0000002c;
}

.nav-pills .nav-link.active .card .Ds_icon .icons {
  color: var(--white-color);
  font-size: 24px;
}

.nav-pills .nav-link.active .card p,
.nav-pills .nav-link.active .card h1 {
  color: var(--white-color);
}




/*=====================
 Primary Artist Manage
 ===================== */

.table_content {
  margin-top: 50px;
}

.table_title {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

/*=====================
Edit Primary Artist
=====================*/

.edit_container {
  max-width: 900px;
  height: 100%;
  margin: auto;
}

.upload_area {
  max-width: 900px;
  margin: auto;
  margin-top: 50px;
  padding: 30px;
  background: var(--white-color);
  box-shadow: #0d11182c;
  border-radius: 24px;
}

.card {
  width: 100%;
  border: transparent !important;
}

.card-body {
  padding: 0 !important;
}

.btn-primary {
  border-color: #5a8dee !important;
  background-color: #5a8dee !important;
  color: #fff;
}

.kb-data-box {
  width: 100%;
  flex: 1;
}

.kb-data-title h6 {
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 600;
}

.kb-file-upload {
  margin-bottom: 20px;
}

.file-upload-box {
  border: 1px dashed #b6bed1;
  background-color: #f0f2f7;
  border-radius: 4px;
  min-height: 150px;
  position: relative;
  overflow: hidden;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8194aa;
  font-weight: 400;
  font-size: 15px;
}

.file-upload-box .file-upload-input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.file-link {
  color: #475f7b;
  text-decoration: underline;
  margin-left: 3px;
}

.file-upload-box .file-link:hover {
  text-decoration: none;
}

.file-atc-box {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.file-image {
  width: 130px;
  height: 85px;
  background-size: cover;
  border-radius: 5px;
  margin-right: 15px;
  background-color: #eaecf1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #475f7b;
  padding: 3px;
}

.file-image img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 4px;
}

.file-detail {
  flex: 1;
  width: 100%;
}

audio {
  width: 100%;
}

.file-detail h6 {
  word-break: break-all;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 8px;
}

.file-detail p {
  font-size: 12px;
  color: #8194aa;
  line-height: initial;
  font-weight: 400;
  margin-bottom: 8px;
}

.file-actions {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
}

.file-action-btn {
  font-size: 12px;
  color: #8194aa;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  text-decoration: underline;
  margin-right: 15px;
  cursor: pointer;
}

.file-action-btn:hover {
  color: #3d546f;
  text-decoration: underline;
}

.file-atc-box:last-child {
  margin-bottom: 0;
}

.img_Up_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.kb-buttons-box .btn {
  width: 100%;
}

/*  */

.history {
  margin-top: 50px;
}

/*===============================
Earning page
=============================== */

.chart_area {
  padding: 20px;
  background: var(--white-color);
}

.chart {
  width: 100%;
}

.chart_top_content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 30px;
}

/*===============================
Withdraw page
=============================== */
.card {
  padding: 30px;
  box-shadow: 12px 12px 36px rgba(0, 0, 0, 0.08);
}

.withdraw_content .withdraw_card {
  padding: 30px;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 12px 12px 36px rgba(0, 0, 0, 0.08);
}

.bank_add_card {
  height: 450px;
}

.bank_add_card .btn {
  width: 100%;
}

.withdraw_content .card h1 {
  margin: 30px 0;
}

.bank_add_card h2 {
  color: var(--title-color) !important;
}

.withdraw_content .card h2 {
  color: var(--description-color);
}

.withdraw_content .btn_area {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-group {
  width: 100%;
  display: block;
}

.bank_card.card {
  padding: 20px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

.bank_icon .icons {
  font-size: 50px;
}

.dot_toggle {
  position: relative;
}

.dot_toggle .icons {
  font-size: 24px;
}

.toggle_menu {
  position: absolute;
  right: 20px;
  top: 5px;
  padding: 15px;
  width: 100px;
  background: var(--white-color);
  box-shadow: 12px 12px 36px rgba(0, 0, 0, 0.08);
}

.bank_card.inactive {
  background-color: var(--border-color);
  color: var(--description-color);
}

.bank_card.active {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.bank_card.active .icons {
  color: var(--white-color);
}

.bank_card.active p {
  color: var(--white-color);
}

.modal-footer {
  justify-content: flex-start;
}

.modal-title {
  font-size: var(--h2-font-size);
}

.dot_toggle .icons {
  cursor: pointer;
}

.toggle_menu li {
  color: var(--title-color) !important;
  cursor: pointer;
}



/*===============================
Catalog Page
=============================== */
.catalog_card .card {
  padding: 24px;
  border-radius: 24px;
  margin-top: 20px;
}

.catalog_card .card img.cover_img {
  width: 100%;
  height: auto;
}

.catalog_card .card img {
  border-radius: 24px;
  width: 30px;
  height: 30px;
}

.catalog_card .card img.ringtone {
  border: 2px solid var(--white-color);
}

.status_icon {
  position: absolute;
  right: 40px;
  top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.catalog_card .card h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.catalog_details {
  background-image: linear-gradient(0deg,
      rgba(9, 9, 9, 0.8),
      rgba(9, 9, 9, 0.8)),
    url(./Component/assets/img/cover.jpg);
  border-radius: 24px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px 60px;
  height: 380px;
  display: flex;
  align-items: center;
  width: 100%;
}

.catalog_details .card {
  background: transparent;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 20px;
}

.catalog_details .card img {
  height: 250px;
}

.catalog_details .card img {
  border-radius: 8px;
}

.c_top_info h2 {
  color: var(--white-color);
  width: 100%;
}

.draft_page .catalog_card .card img.ringtone,
.pending_page .catalog_card .card img.ringtone {
  display: none;
}

.c_top_info .icon-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.c_top_info img.ringtone {
  width: 24px;
  height: 24px;
}

.cTune .item {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}

.cTune .item .card {
  border-radius: 24px;
  width: 100px;
  height: 100px;
  padding: 10px;
}

.cTune .item .card.active {
  border: 2px solid var(--primary-color) !important;
}

.cTune .item .card img {
  width: 24px;
  height: 24px;
  margin: auto;
}

/* =================
Release Information Page
================= */

.input_desc {
  font-size: var(--small-font-size);
  margin-top: 8px;
}

.new-input-field {
  position: relative;
  margin-top: 15px;
}

.delete-icon {
  position: absolute;
  top: 8px;
  right: 0;
  cursor: pointer;
}

.icon-input-field {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  background: #00000017;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  color: var(--title-color) !important;
  cursor: pointer;
}

.add-icon {
  color: var(--title-color) !important;
}

.input-row label {
  margin-bottom: 8px;
}

/* =================
Submission Page
================= */
.s_info .items {
  padding: 20px;
  background: var(--white-color);
  border-radius: 8px;
  width: 100%;
}

.s_info .items .item .input_value {
  display: flex;
  margin-top: 8px;
}

.s_info .items .item p.input_name {
  width: 150px !important;
}

.s_info .items .item span {
  display: flex;
  flex-direction: row;
  width: 150px !important;
}


.upload_info .card {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.upload_info .card.audio {
  height: 300px;
}

.upload_info .card img {
  border-radius: 8px;
}

.upload_info .card .icons {
  width: auto;
  height: 80px;
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
  color: var(--primary-color);
}

/* =================
Support Page
================= */
.s_problem_box {
  padding: 20px;
  background: var(--white-color);
  border-radius: 8px;
  box-shadow: 12px 12px 36px rgba(0, 0, 0, 0.08);
}

.s_problem_box .btn {
  width: 100%;
}

.text_box {
  display: flex;
  flex-direction: column;
}

.support_file .card {
  padding: 0;
  margin-top: 20px;
  box-shadow: none;
}

.support_file .card .btn {
  display: none;
}

.support_file .img_Up_info img {
  display: none;
}

.support_file .img_Up_info span {
  display: none;
}

.support_file .img_Up_info span:nth-child(1),
.support_file .img_Up_info span:nth-child(2) {
  display: block;
}


.s_problem_box .btn_s {
  width: 100%;
}

.connect_wp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--white-color);
  border-radius: 8px;
  box-shadow: 12px 12px 36px rgba(0, 0, 0, 0.08);
  height: 100%;
  padding: 40px 30px;
}

.connect_wp .icons {
  width: 80px;
  height: 80px;
  color: #60D669;
}

.connect_wp p {
  margin: 20px 0;
}


.s_history {
  padding: 30px;
  background: var(--white-color);
  border-radius: 8px;
  box-shadow: 12px 12px 36px rgba(0, 0, 0, 0.08);
}

.reply_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: none;
  background: transparent;
}

.s-popup .message-box .box {
  padding: 12px 20px;
  background: rgba(120, 62, 253, 0.1);
  border-radius: 8px;
  margin: 20px 0;
}

.s-popup .message-box h2 {
  font-size: 16px;
  font-weight: 600;
}

.s-popup .message-box.author_box .box {
  background: rgba(255, 204, 64, 0.1);
}

.s-popup .message-box.author_box {
  text-align: end;
}

.s-popup .btn_area {
  align-items: flex-start;
}

:where(.css-dev-only-do-not-override-w8mnev).ant-btn {
  height: auto;
  display: flex;
  align-items: center;
}



.support_page :where(.css-dev-only-do-not-override-w8mnev).ant-upload-wrapper .ant-upload-select {
  width: 100%;
}

.ant-col.ant-col-16.ant-form-item-control.css-dev-only-do-not-override-w8mnev {
  width: 100%;
}

/*===============================
Profile Pages
=============================== */
.user_profile_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.user_profile_top .user_p_info {
  display: flex;
  align-items: center;
  gap: 20px;

}

span.ant-upload-wrapper.ant-upload-picture-circle-wrapper.css-dev-only-do-not-override-w8mnev {
  width: 100px;
  height: 100px;
}

.ant-upload-list.ant-upload-list-picture-circle {
  width: 50px;
}

button.ant-btn.css-dev-only-do-not-override-w8mnev.ant-btn-text.ant-btn-sm.ant-btn-icon-only.ant-upload-list-item-action {
  margin-left: 5px;
}

.c_tune_table_title,
.sim_icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.table_img {
  width: 35px;
  height: 35px;
  border-radius: 4px;
}




/*===============================
Label Manage
=============================== */

.label_manage .btn_area .btn.add_label_btn {
  width: 150px !important;
}

.add_label .input_group .mt-3 {
  width: 100%;
}

/*===============================
Responcive part
=============================== */


@media screen and (max-width: 991px) {
  .input_group {
    display: block;
    padding-right: 30px
  }

  .catalog_details {
    height: auto;
  }

  .catalog_details .card img {
    height: 100%;
  }

  .delete-icon,
  .icon-input-field {
    top: 45px;
    right: -35px;
  }
}

@media screen and (max-width: 768px) {
  .analytics_area {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media screen and (max-width: 576px) {
  .toggle_not_info .menu_item{
    right: -60px;
    transform: translateX(60px)
  }
}


@media screen and (max-width: 480px) {
  .analytics_area {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }

  .toggle_not_info .menu_item{
    right: -60px;
    transform: translateX(60px);
    width: 300px;
  }
}